*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/*.log
/spring-app/.gradle/2.13/taskArtifacts/cache.properties
/spring-app/.gradle/2.13/taskArtifacts/cache.properties.lock
/spring-app/.gradle/2.13/taskArtifacts/fileHashes.bin
/spring-app/.gradle/2.13/taskArtifacts/fileSnapshots.bin
/spring-app/.gradle/2.13/taskArtifacts/taskArtifacts.bin
/spring-app/.project
/spring-app/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
/spring-app/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
/spring-app/.settings/org.eclipse.jdt.core.prefs
/spring-app/.settings/org.eclipse.wst.common.project.facet.core.xml
/spring-app/.springBeans
